* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%) no-repeat;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  line-height: 1;
}
